In [1]:
numero1 = 1
numero2 = 2
numero3 = 3

In [2]:
print(numero1 > numero2)

False

In [4]:
# es trampa cambiar la estructura de la sintaxis?
print(numero3 < numero1 < numero2 )

False

In [5]:
print(numero3 is numero2)
print(numero3 == numero2)

False
False

In [6]:
print(numero2 != numero1)
print(numero2 is not numero1)

True
True

In [7]:
altura1 = 1.0

In [8]:
type(altura1)

float

In [9]:
altura2 = 2.0

In [11]:
print(altura1 + altura2)
print(altura2 - altura1)
print(altura2%altura1)
print(round(altura2/altura1))

3.0
1.0
0.0
2

In [12]:
input('cual es tu nombre y apellidos')

'mireia toledo'

In [20]:
nombre_apellidos = input('dime tu nombre y apellidos')
print(nombre_apellidos)

Mireia Toledo

In [19]:
print(nombre_apellidos.upper())

MIREIA TOLEDO

In [21]:
print(nombre_apellidos.lower())

mireia toledo

In [23]:
print(nombre_apellidos.title())

Mireia Toledo

In [24]:
print(nombre_apellidos.capitalize())

Mireia toledo

In [25]:
frase = input('tu ultima comida')

In [26]:
print(frase)

arroz con verduras

In [28]:
vocal = input('elige una vocal')

In [29]:
print(frase, vocal.upper())

arroz con verduras  A