In [1]:
numero1 = 1
numero2 = 2
numero3 = 3

In [2]:
print(numero1 > numero2)

False

In [3]:
# es trampa cambiar la estructura de la sintaxis?
print(numero3 < numero1 < numero2 )

False

In [4]:
print(numero3 is numero2)
print(numero3 == numero2)

False
False

In [5]:
print(numero2 != numero1)
print(numero2 is not numero1)

True
True

In [6]:
altura1 = 1.0

In [7]:
type(altura1)

float

In [8]:
altura2 = 2.0

In [9]:
print(altura1 + altura2)
print(altura2 - altura1)
print(altura2%altura1)
print(round(altura2/altura1))

3.0
1.0
0.0
2

In [10]:
input('cual es tu nombre y apellidos')

'Mireia Toledo'

In [11]:
nombre_apellidos = input('dime tu nombre y apellidos')
print(nombre_apellidos)

Mireia Toledo Moya

In [12]:
print(nombre_apellidos.upper())

MIREIA TOLEDO MOYA

In [13]:
print(nombre_apellidos.lower())

mireia toledo moya

In [14]:
print(nombre_apellidos.title())

Mireia Toledo Moya

In [15]:
print(nombre_apellidos.capitalize())

Mireia toledo moya

In [16]:
frase = input('tu ultima comida')

In [17]:
print(frase)

arroz con verduras

In [18]:
vocal = input('elige una vocal')

In [19]:
print(frase, vocal.upper())

arroz con verduras A

In [20]:
listacompra = input('escribe tu lista de la compra y separa cada elemento con comas')

In [21]:
print(listacompra)

aguacate, leche, arroz

In [22]:
resultado_del_input = "aguacate, leche, arroz"

In [23]:
input_lista = resultado_del_input.split(",")
print(input_lista)

['aguacate', ' leche', ' arroz']

In [24]:
type(input_lista)

list

In [28]:
resultadonuevo = "\n".join(input_lista)
print(resultadonuevo)

aguacate
 leche
 arroz